// 修改 $utilities 設定，啟用 font-size 的響應式語法
$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (responsive: true),
    ),
  )
);

.rounded-24 {
  border-radius: 24px;
}
.rounded-12 {
  border-radius: 12px;
}
.w-30{
  width: 30%;
}