<footer class="bg-black">
  <div class="container">
    <div class="row flex-column flex-lg-row">
      <div class="col-lg-6 mb-10 mb-lg-0">
        <div>
          <a href="#"
            ><img
              src="/assets/images/LOGO-W.svg"
              alt="logo"
              class="mb-10 mb-lg-9 logo-w"
          /></a>
        </div>
        <ul class="text-white d-flex flex-column flex-lg-row gap-3 gap-lg-0">
          <li class="me-lg-9 me-0"><a href="#">常見問題</a></li>
          <li class="me-lg-9 me-0"><a href="#">關於我們</a></li>
          <li class="me-lg-9 me-0"><a href="#">隱私權政策</a></li>
          <li class="me-lg-9 me-0"><a href="#">使用者條款</a></li>
        </ul>
      </div>
      <div class="col-lg-6 text-lg-end">
        <ul class="mb-5">
          <a href="#"
            ><li class="me-5">
              <img
                src="/assets/images/footer/btn_line.svg"
                alt="line"
                class="social-icon"
              /></li
          ></a>
          <a href="#"
            ><li class="me-5">
              <img
                src="/assets/images/footer/btn_yt.svg"
                alt="youtube"
                class="social-icon"
              /></li
          ></a>
          <a href="#"
            ><li class="me-5">
              <img
                src="/assets/images/footer/btn_fb.svg"
                alt="fb"
                class="social-icon"
              /></li
          ></a>
        </ul>
        <small class="text-white"
          >copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</small
        >
      </div>
    </div>
  </div>
</footer>
