<nav class="navbar navbar-light bg-white py-4 py-lg-5">
  <div class="container position-relative">
    <div class="d-flex align-items-center me-auto">
      <a class="navbar-brand p-0 me-7" href="index.html"><img src="/assets/images/LOGO.svg" alt="logo" /></a>
      <form class="position-relative d-none d-lg-block">
        <span
          class="material-icons-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ps-4 text-neutral-60">
          search </span>
        <input type="search" class="form-control rounded-1 py-2 ps-10 navbar-lg-search" id="navbar-lg-search"
          placeholder="搜尋景點、地點或城市">
      </form>
    </div>
    <div class="position-absolute start-0 end-0 px-4 z-1 bg-white">
      <div class="collapse" id="collapseExample">
        <div class="d-flex align-items-center">
          <form class="position-relative w-100">
            <span
              class="material-icons-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ps-4 text-neutral-60">
              search </span>
            <input type="search" class="form-control rounded-1 py-2 ps-10" id="navbar-search" placeholder="搜尋景點、地點或城市">
          </form>
          <button type="button" class="btn border-0 p-2" data-bs-toggle="collapse"
            data-bs-target="#collapseExample"><span class="material-icons-outlined">
              close
            </span></button>
        </div>
      </div>
    </div>



    <button class="btn p-2 border-0 d-lg-none" data-bs-toggle="collapse" data-bs-target="#collapseExample">
      <span class="material-icons-outlined align-bottom"> search </span>
    </button>
    <a href="#" class="btn border-0 align-bottom  py-2 me-5 d-flex justify-content-center align-items-center">
      <span class=" position-relative">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle p-0 cart-tag bg-alert">
          2
        </span>
        <span class="material-icons-outlined align-bottom"> shopping_cart </span>
      </span>
    </a>
    <a href="login.html" class="btn btn-primary py-5 px-9 rounded-12  fw-semibold d-none d-lg-block">登入 / 註冊 </a>
    <!--
    <div class="d-lg-block d-none ms-5 fw-bold text-primary-100"> <img src="/assets/images/user/avatar-1.png"
        alt="avatar" class="me-2 user-img">Jessica</div>-->
    <button class="btn border-0  p-2 d-lg-none" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="material-icons-outlined align-bottom">
        menu
      </span>
    </button>
    <div class="offcanvas offcanvas-end p-7 custom-offcanvas" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-flex align-items-center">
          <img src="/assets/images/icon/visitor.svg" alt="visitor" style="width: 32px;" class="me-2">
          <div>
            <p class="fw-bold text-primary">訪客</p>
            <p class="text-primary">未登入</p>
          </div>
        </div>
        <div class="d-flex flex-column">
          <hr class="mb-7">
          <h2 class="fw-bold fs-4 mb-1">歡迎來到 ZOBAA</h2>
          <p>加入會員即可立即訂購、收藏行程，並享相關優惠好禮。</p>

        </div>
      </div>
      <div class="offcanvas-footer">
        <a href="login.html" class="btn btn-primary  py-5 rounded-12  mb-5 fw-semibold w-100">登入 / 註冊 </a>
      </div>
    </div>
  </div>
</nav>