.cart-tag {
    width: 16px;
    height: 16px;
    line-height: 1.333;
}

.navbar-lg-search {
    width: 400px;
}

.user-img {
    width: 32px;
    height: 32px;
}

.custom-offcanvas {
    width: 87vw;
    max-width: 327px;
}