.banner {
  background-image: url(/assets/images/index/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 112px;
}

.recommend {
  background-color: #221F1E;

  .swiper-slide .card {
    height: 400px;
    /* 自訂高度 */
  }

  .card-img {
    object-fit: cover;
    /* 保持比例填滿 */
    height: 100%;
    width: 100%;
  }
}