.banner {
  background-image: url(/assets/images/index/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 112px;
}

.recommend {
  background-color: #221F1E;
}