<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <main>
            <section class="py-10 py-lg-11">
                <ol class="d-flex">
                    <li class="breadcrumb-item text-md">
                        <a href="index.html" class="breadcrumb-item-link">首頁</a>
                    </li>
                    <li class="breadcrumb-item text-md">
                        <a href="#" class="breadcrumb-item-link"> 女鞋</a>
                    </li>
                    <li class="breadcrumb-item text-md">所有商品</li>
                </ol>
            </section>
        </main>
        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>